appdirs==1.4.3
APScheduler==3.6.3
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorhash==1.0.2
configparser==5.0.0
cssselect==1.1.0
cycler==0.10.0
email-templates==0.2.2
fake-useragent==0.1.11
Flask==1.1.2
Flask-Cors==3.0.8
Flask-MonitoringDashboard==3.0.9
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.2.0
kneed==0.6.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.2
packaging==20.3
pandas==1.0.3
parse==1.15.0
psutil==5.7.0
pyee==7.0.1
pyparsing==2.4.7
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-html==0.10.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sip==5.2.0
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
toml==0.10.0
tqdm==4.45.0
tzlocal==2.0.0
urllib3==1.25.9
w3lib==1.21.0
websockets==8.1
Werkzeug==1.0.1
wincertstore==0.2
